{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2 class="mb-5">Welcome,</h2>

    <div class="container mt-6" style = "padding-top:150px ;">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card text-center" style="width: 18rem;" role="button" onclick="window.location.href='/manage_slots'">
            <div class="card-body">
              <h3 class="card-title">MANAGE SLOTS</h3>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center" style="width: 28rem;" role="button" onclick="window.location.href='/manage_bookings'">
            <div class="card-body">
              <h3 class="card-title">MANAGE BOOKINGS</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
